body {
  background: papayawhip;
  padding: 40px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.section__basis {
  text-align: center;
  padding-bottom: 20px;
  font-size: 25px;
}

.section__title {
  text-align: center;
  padding-bottom: 20px;
  font-size: 20px;
}

.section__title-two {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 25px;
  font-size: 20px;
}

.section__subtitle {
  margin: 10px 0;
}

.section__code {
  margin-bottom: 6px;
}

.section__li {
  list-style-type: none;
}

.section__container {
  margin-bottom: 20px;
}

.section__article {
  background: #fff;
  padding: 24px 24px 24px 24px;
  border-radius: 12px;
  margin-bottom: 8px;
}

dt {
  padding: 4px;
  border-radius: 15px;
  background-color: rgb(20, 74, 74);
  color: #fbfafa;
  width: fit-content;
  margin-bottom: 10px;
}

button:focus {
  background-color: aqua;
}

button:hover {
  background-color: blueviolet;
}

button:active {
  background-color: burlywood;
}

blockquote > ul {
  display: flex;
}

blockquote li {
  width: 50%;
}

blockquote p {
  width: 50%;
  padding: 12px;
  background-color: rgb(26, 20, 20);
  color: yellowgreen;
}

ul:nth-child() {
  color: #fff;
}
